server:
  port: 7777

spring:
  application:
    name: server

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:development}

  threads:
    virtual:
      enabled: true

  datasource:
    driver-class-name: org.postgresql.Driver
    hikari:
      allow-pool-suspension: true
      maximum-pool-size: 20
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: validate

    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        generate_statistics: true

    show-sql: false
